﻿<%@ Page Language="C#" Title="strona glowna" AutoEventWireup="true" MasterPageFile="~/MasterPageOne.Master" CodeBehind="Default.aspx.cs" Inherits="WebApplication5.Default" meta:resourcekey="PageResource1"  %>

<%@ Register Src="~/UserControls/AuctionListView.ascx" TagPrefix="uc1" TagName="AuctionListView" %>


<asp:Content ID="Content1" ContentPlaceHolderID="CategoryMenu" runat="server">
    
<asp:Label runat="server" ID="lblCategory" Text="Kategorie" meta:resourcekey="lblCategoryResource1"></asp:Label>
<%--<asp:TreeView ID="TreeView1" runat="server" ImageSet="XPFileExplorer" NodeIndent="15">
    <HoverNodeStyle Font-Underline="True" ForeColor="#6666AA" />
    <NodeStyle Font-Names="Tahoma" Font-Size="8pt" ForeColor="Black" HorizontalPadding="2px"
        NodeSpacing="0px" VerticalPadding="2px"></NodeStyle>
    <ParentNodeStyle Font-Bold="False" />
    <SelectedNodeStyle BackColor="#B5B5B5" Font-Underline="False" HorizontalPadding="0px"
        VerticalPadding="0px" />
</asp:TreeView>--%>
    
    <asp:TreeView runat="server" ID="TreeView1" meta:resourcekey="TreeView1Resource1" ></asp:TreeView>
    
    <br/>
  

   <%-- <p>Wybierz kategorie</p>
    <asp:Repeater runat="server" ID="rpCategories">
        <ItemTemplate>
            <asp:LinkButton ID="lbtnProba" OnCommand="lbtnProba_OnCommand" CommandArgument='<%# Eval("Id") %>' Text='<%# Eval("Name") %>' runat="server"></asp:LinkButton><br />
        </ItemTemplate>
    </asp:Repeater>
        <asp:HyperLink runat="server" NavigateUrl="Default.aspx">Wszystkie</asp:HyperLink>--%>

</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <br/>
    <uc1:AuctionListView runat="server" ID="AuctionListView" Mode="All" />
  <%--  <asp:TextBox runat="server" ID="txtSearch" ></asp:TextBox>
    <asp:Button runat="server" ID="btnSearch" Text="Szukaj" OnClick="btnSearch_OnClick"/>    
    <asp:CheckBoxList runat="server" ID="cblSearch" RepeatColumns="3">
    <asp:ListItem Text="Nick" Value="Username" ></asp:ListItem>
    <asp:ListItem Text="Nazwa" Value="Name" ></asp:ListItem>
    <asp:ListItem Text="Opis" Value="Description" ></asp:ListItem>
   </asp:CheckBoxList>
    
    <asp:Label runat="server" ID="lblChosen"></asp:Label>
    <br/>

    <div>
        <asp:ListView ID="lsvAuctions" runat="server">
            <LayoutTemplate>
                <table>
                    <thead>
                        <tr>

                            <th>Nazwa</th>
                            <th>Cena</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <asp:PlaceHolder runat="server" ID="itemPlaceholder" />

                    </tbody>
                </table>
                <br />
            </LayoutTemplate>
            <ItemTemplate>
                <tr>
                    <td><%# Eval("Name") %></td>
                    <td><%# Eval("Prize") %></td>
                    <td>
                        <a href="\ShowDetails.aspx?id=<%# Eval("Id") %>">Link</a>                   
                    </td>
                </tr>

            </ItemTemplate>
        </asp:ListView>
        <br />
    </div>--%>
</asp:Content>

